<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Blog Show Page</h1>
      Username: <%=blog.name%>
      Topic: <%=blog.topic%>.
        <nav>
            <a href="/blogs">Back to Blog Index</a>
        </nav>
    </body>
</html>
