<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New Blog page</h1>
        <form action="/blogs" method="POST">
            Name: <input type="text" name="name" /><br/>
            Topic: <input type="text" name="topic" /><br/>
            Img: <input type="text" name="img" /><br/>
            Video:  <input type="text" name="video" ></><br/>
          <!-- Video:  <iframe width="420" height="315" src="img" frameborder="0" allowfullscreen></iframe> -->
          <br>

            Blog:  <textarea name="blog" rows="8" cols="80"></textarea>
            <br/>
             <!-- Is Ready to Eat: <input type="checkbox" name="readyToEat" /> -->
            <br/>
            <input type="submit" value="Create Blog" />
        </form>
    </body>
</html>
